.my-component {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}

.point {
    transition: transform 0.3s ease;
    stroke-width: 0;
    fill: black;
}

    .point:hover {
        fill: grey;
    }

.tri-line {
    stroke: red;
}