@page "/"
@using Contour.Client
@using Contour.Core

<PageTitle>Contour Plot</PageTitle>

<h1>Contour Plot</h1>

<ContourView Points="@points"></ContourView>

@code
{
    List<Point> points = new List<Point>();

    protected override void OnInitialized()
    {
        var random = new Random();
        var minValue = 0;
        var maxValue = 100;

        points.Clear();

        for (int i = 0; i < 20; i++)
        {
            double x = minValue + (random.NextDouble() * (maxValue - minValue));
            double y = minValue + (random.NextDouble() * (maxValue - minValue));
            points.Add(new Point(x, y));
        }
    }
}