@page "/"
@using Contour.Client.Views
@using Contour.Core

<PageTitle>Contour Plot</PageTitle>

<h1>Contour Plot</h1>

<MudGrid Style="align-items: flex-start;">
    <MudItem xs="12" md="6">
        <ContourView Points="@points" @ref="contourView"></ContourView>
    </MudItem>
    <MudItem xs="12" md="6">
        <PointsEditor Points="@points" UpdateRequest="() => contourView.UpdatePlot()"></PointsEditor>
    </MudItem>
</MudGrid>


@code
{
    List<Point> points = new List<Point>();

    ContourView contourView;

    protected override void OnInitialized()
    {
        var random = new Random();
        var minValue = 0;
        var maxValue = 100;

        points.Clear();

        for (int i = 0; i < 20; i++)
        {
            double x = minValue + (random.NextDouble() * (maxValue - minValue));
            double y = minValue + (random.NextDouble() * (maxValue - minValue));
            points.Add(new Point(x, y));
        }
    }
}