@page "/"
@using Contour.Client
@using Contour.Core

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<ContourView Points="@(new List<Point>()
            {
                new Point(5, 5),
                new Point(20, 14),
                new Point(78, 90),
                new Point(45, 64)
            })"></ContourView>
