/* _content/Contour.Client/Components/ContourView.razor.rz.scp.css */
.my-component[b-ddmimwc0yn] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}

.point[b-ddmimwc0yn] {
    transition: transform 0.3s ease;
    stroke-width: 0;
    fill: black;
}

    .point:hover[b-ddmimwc0yn] {
        fill: grey;
    }

.tri-line[b-ddmimwc0yn] {
    stroke: red;
}
