/* _content/Contour.Client/ContourView.razor.rz.scp.css */
.my-component[b-zovjo6jz0c] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}

.point[b-zovjo6jz0c] {
    transition: transform 0.3s ease;
}

    .point:hover[b-zovjo6jz0c] {
        stroke: grey;
    }
